.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  justify-items: center;

  @media (max-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo {
    display: grid;
    border-radius: .2rem;
    overflow: hidden;
    cursor: pointer;

    img {
      grid-area: 1/1;
    }

    .visual {
      background: rgba(0, 0, 0, .3);
      color: #FFF;
      font-size: 1rem;
      text-align: center;
      grid-area: 1/1;
      align-items: center;
      justify-content: center;
      display: none;

      &::before{
        content: '';
        width: 16px;
        height: 10px;
        display: inline-block;
        margin-right: .25rem;
        background: url('../assets/view.svg') no-repeat;
      }
    }

    &:nth-child(2) {
      grid-column: 2/4;
      grid-row: span 2;

      @media (max-width: 40rem) {
        grid-column: initial;
        grid-row: initial;
      }
    }

    &:hover {
      .visual {
        display: flex;
      }
    }
  }
}